.header {
    background-image: url(../images/banner/banner2.png);
    margin: 0;
    height: 809px;


}

.banner {
    text-align: right;
    /* margin: 216px 230px 365px 845px; */
    margin-right: 230px;
    margin-left: 845px;
    padding-top: 216px;

}

.banner-title {
    font-size: 65px;
    color: #151414;
}

.banner-description {
    font-size: 16px;
    padding-bottom: 32px;
    color: #444343;
}

.btn-primary{
    color: #FFFFFF;
    font-size: 20px;
    padding: 20px 25px;
    background-color: red;
    border: none;
    border-radius: 7px;
}

/* my previous year */
.tips {
    display: flex;
    margin: 130px 206px;
    gap: 50px;
}

.tips-group {
    padding-top: 130px;
}

.tips-title {
    font-size: 40px;
    color: #f80000;
    padding-left: 40px;
}

.tips-description {
    font-size: 16px;
    color: #444343;
    padding-left: 40px;
}
.color{
    color: #f80000;
}

ul li {
    list-style: none;
}

.image {
    width: 569px;
    height: 600px;
}

/* plan section */
.plan {
    display: flex;
    padding: 125px 230px;
    justify-content: space-between;
    
}

.plan-info {
    text-align: center;
    background-color: #ffefef;
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.plan-title {
    font-size: 30px;
    color: #151414;
}

.pian-description {
    color: #737272;
    font-size: 25px;
}

/* contuct section */
.contact-section {
    background: linear-gradient(90deg, #f80000 0%, rgba(241, 91, 34, 0) 100%), url('/images/watch.png');
    margin: 124px 230px;
    width: 1140px;
    height: 300px;

}

.contact {
    padding: 25px 617px 59px 30px;
}

.contact-title {
    color: white;
    font-size: 40px;

}

section .btn-primary {
    background-color: white;
    color: #f80000;
}
/* footer */
.container{
    display: flex;
    background: #151414;
    /* gap: 20px; */
}
.footer-title{
    font-size: 45px;
    color: #f80000;
}
.footer-description{
    font-size: 16px;
    color: #FFFFFF;
}
.footer-info{
    color: #FFFFFF;
    font-size: 16px;
}
.sub-title{
    color: #f80000;
    font-size: 25px;
}
footer section input{
    padding: 20px 70px 20px 0px;
}
footer section .btn-primary{
    margin-top: 16px;
}
.footer-container{
    padding: 130px 230px;
}
